* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-area: repeat(3, 1fr);
    background-image: url(../images/background.jpg);
    min-height: 100vh;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #38364499;
}
header h1 {
    padding-top: 1rem;
    color: aliceblue;
}

#form-content {
    place-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 500px;
    max-width: auto;
    min-height: 400px;
    max-height: 100%;
    background-color: #383644F5;
    border-radius: 1rem;
}

#submit {
    margin-top: auto;
    margin-bottom: 0px;
}

#techSkills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#removeBtn {
    width: auto;
    height: 30px;
}